<!--Footer-->
<div class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col-1">
                <h3>Subscribe on my GitHub</h3>
                <a href="https://github.com/Miracle225">https://github.com/Miracle225</a>
            </div>
            <div class="footer-col-2">
                <img src="/images/logo.png">
                <p>Purpose of this site it is learning how to use Spring with
                    Hibernate and Thymeleaf+HTML+CSS to build web app</p>
            </div>
            <div class="footer-col-3">
                <h3>Useful Links</h3>
                <ul>
                    <li>Coupons</li>
                    <li>Blog Post</li>
                    <li>Return Policy</li>
                </ul>
            </div>
            <div class="footer-col-4">
                <h3>Contact Links</h3>
                <ul>
                    <li>Telegram</li>
                    <li>Instagram</li>
                    <li>Email</li>
                </ul>
            </div>
        </div>
        <hr>
        <p class="copyright">Copyright 2023 - Ishchenko Danylo</p>
    </div>
</div>
