<div class="header">
    <div class="container">
        <div class="navbar">
            <div class="logo">
                <img src="/images/logo.png" width="125px">
            </div>
            <nav>
                <ul>
                    <li><a th:href="@{/home}" href="/home">Home</a></li>
                    <li><a th:href="@{/about}" href="/about">About</a></li>
                    <li><a th:href="@{/#}" href="/#">Contact us</a></li>
                    <li><a th:href="@{/user}" href="/user">Account</a></li>
                </ul>
            </nav>
            <img src="/images/shopping-cart.png" width="30px" height="30px">
        </div>
    </div>
</div>
</div>
