<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<title>About</title>
<link href="/css/style.css" rel="stylesheet"/>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,300;0,400;0,500;0,600;0,700;1,200;1,600&display=swap"
      rel="stylesheet">
</head>
<body>
<div th:replace="fragments/header"></div>

<div class="small-container">
    <h1 class="title">About me</h1>
    <div class="row">
        <h2>My name is Daniil, and i`m 19 years old.This is my testing page for learning how to work with
            Java + Spring boot framework + Thymeleaf + Spring security + a little HTML/CSS</h2>
    </div>
</div>
<br>
<div th:replace="fragments/footer"></div>
</body>
</html>