<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta charset="UTF-8">
<title>Cart</title>
<link href="/css/style.css" rel="stylesheet"/>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,300;0,400;0,500;0,600;0,700;1,200;1,600&display=swap"
      rel="stylesheet">
</head>
<body>
<div class="header">
    <div class="container">
        <div class="navbar">
            <div class="logo">
                <img src="/images/logo.png" width="125px">
            </div>
            <nav>
                <ul>
                    <li><a th:href="@{/home}" href="/home">Home</a></li>
                    <li><a th:href="@{/about}" href="/about">About</a></li>
                    <li><a th:href="@{/#}" href="/#">Contact us</a></li>
                    <li><a th:href="@{/#}" href="/#">Account</a></li>
                </ul>
            </nav>
            <img src="/images/shopping-cart.png" width="30px" height="30px">
        </div>
    </div>
</div>
<!--cart items details-->

<!--<div class="small-container">-->
<!--    <table>-->
<!--        <tr>-->
<!--            <th>Product</th>-->
<!--            <th>Quantity</th>-->
<!--            <th>Subtotal</th>-->
<!--        </tr>-->
<!--        <tr>-->
<!--            <td>Product name</td>-->
<!--            <td><input type="number" value=""></td>-->
<!--        </tr>-->
<!--    </table>-->
<!--</div>-->
<div class="small-container">
    <div class="row">
        <div th:each="product:${products.entrySet()}" class="col-4">
                <img th:src="${product.getKey().getPictureUrl()}">
            <h4 th:text="${product.getKey().getName()}"></h4>
            <p th:text="${product.getKey().getPrice()}+'&#36'"></p>
        </div>
    </div>
</div>
<!--Footer-->
<div class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col-1">
                <h3>Subscribe on my GitHub</h3>
                <a href="https://github.com/Miracle225">https://github.com/Miracle225</a>
            </div>
            <div class="footer-col-2">
                <img src="/images/logo.png">
                <p>Purpose of this site it is learning how to use Spring with
                    Hibernate and Thymeleaf+HTML+CSS to build web app</p>
            </div>
            <div class="footer-col-3">
                <h3>Useful Links</h3>
                <ul>
                    <li>Coupons</li>
                    <li>Blog Post</li>
                    <li>Return Policy</li>
                </ul>
            </div>
            <div class="footer-col-4">
                <h3>Contact Links</h3>
                <ul>
                    <li>Telegram</li>
                    <li>Instagram</li>
                    <li>Email</li>
                </ul>
            </div>
        </div>
        <hr>
        <p class="copyright">Copyright 2023 - New Age Pets</p>
    </div>
</div>
</body>
</html>